<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="first" placeholder="First Name"><br>
    <input type="text" name="last" placeholder="Last Name"><br>
    <input type="text" name="user" placeholder="Username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="text" name="pass" placeholder="password"><br>
    <input type="text" name="cpass" placeholder="Confirm pass"><br>
    <button type="submit" placeholder="Username">Register</button><br>
</form>

</body>
</html>